
body{
  background-color: #f5f5f5;
  margin: 0;
  padding: 7px;
  font-family: "Inter", sans-serif;  
  font-size: 14px; 
  height: 2000px;   
}
.layoutWrapper{
  display: flex;
  background-color: #f5f5f5;
  align-items: start;
  justify-content: space-between;
}

/* NavBar begins */

nav{
  background-color: #f5f5f5;
  padding: 5px 30px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  /* box-shadow: 0 4px 6px rgba(153, 152, 152, 0.1); */
  width: 100%;
  margin-left: 230px;
}
.first-section{
  color: gray;
  letter-spacing: 0.05rem;
}
.active{
  color: black;
}
.second-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-wrapper{
  position: relative;
  width: 190px;
}
.input-wrapper input{
  border: 1px solid #d2d6da;
  height: 17px;
  width: 100%;
  padding: 10px;
  border-radius: 7px;  
  background-color: transparent;
}
.input-wrapper label{
  position: absolute;
  top: 30%;
  left: 7%;
  color: gray;
  transition: 0.2s;
  pointer-events: none;
}
.input-wrapper input:focus{
  border: 2px solid #e91e63;
  outline: none;
  transition: 0.15ms;
  border-radius: 5px;
  box-shadow: none;
}
.input-wrapper input:focus + label{
  color: #e91e63;
  top: -12%;
  left: 7%;
  font-size: 12px;
  background-color: #f5f5f5;
  padding: 0px 5px;
}
.online-builder{
  border: 1px solid #e91e63;
  border-radius: 10px;
  background-color: transparent;
  color: #e91e63;
  padding: 8px 15px;
  margin: 0px 15px 0px 35px;
  cursor: pointer;
}
.github-button{
  display: flex;
  align-items: center;
  border: 1px solid #d1d9e0;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}
.github-star{
  background-color: #e5eaee;
  padding: 5px 10px;
  font-size: 12px;
}
.github-star:hover{
  background-color: #e5eaee98;
}
.gt-star{
  font-size: 14px;
  line-height: 16px;
  color: #25292e;
}
.github-number{
  border-left: 1px solid #d1d9e0;
  padding: 5px 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  background-color: white;
}
.nav-icons{
  color: #737373;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  margin-left: 20px;
  font-size: 15px;
  cursor: pointer;
}

/* Sidebar begins */

.Sidebar{
  height: 95%;
  width: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0px 4px 5px rgba(153, 152, 152, 0.2);
}
.Sidebar a{
  text-decoration: none;
  color: black;
}
.top-sidebar{
  height: 380px;
}
.logo-container{
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #eee;
  padding: 12px;
  font-size: 14px;
}
.logo-name{
  margin-left: 10px;
}
.sidebar-links{
  list-style: none;
  padding: 0px;  
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-links li{
  padding: 8px 12px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 5px;
  transition: 0.2s;
}
.sidebar-links li:hover{
 background-color: #efeded;
}
.sidebar-links a{
  display: flex;
  align-items: center;
  gap: 10px;
}
.active-sidebar{
  background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
}
.active-sidebar a{
  color: white;
}
.sidebar-icons{
  color: gray;
  font-size: 15px;
}
.section-title{
  padding-left: 20px;
  font-weight: bold;
  color: rgba(95, 95, 95, 0.7);
  margin: 16px 0px 8px 0px;
  font-size: 12px;
  line-height: 1.25;
}
.documentation{
  width: 100%;
  background-color: white;
  padding: 8px 16px;
  margin: 0px 0px 16px 0px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  transition: 0.2s;
}
.documentation:hover{
 color: rgb(99, 99, 99);
}
.Upgrade-btn{
  width: 100%;
  background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
  padding: 8px 16px;
  margin: 0px 0px 8px 0px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}

/* Sidebar Ends */

.dashboard{
  margin-left: 250px;
  margin-right: 10px;
}
.dashboard-intro{
  margin-left: 260px;
  margin-bottom: 25px;
}
.intro-title{
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  margin: 15px 0px 5px 0px;
}
.intro-subtext{
  margin: 0px;
  color: #737373;
  font-size: 16px;
}
.performance-overview{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.metric-card{
  background-color: white;
  height: 100px;
  width: 100%;
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 5px rgba(153, 152, 152, 0.2);
  padding: 5px 10px 5px 20px;
  cursor: pointer;
}
.metric-card .top-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.metric-card .bottom-card p{
  color: #737373;
  margin: 0px;
  margin-top: 10px;
}
.positive-metric-percentage{
  color: #4CAF50;
  font-weight: bold;
}
.negative-metric-percentage{
  color: #F44335;
  font-weight: bold;
}
.metric-subtext{
  margin: 0px;
  margin-top: 5px;
  color: #737373;
}
.metric-figure{
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}
.metric-icon{
  background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.metric-icon i{
  font-size: 15px;
  color: white;
}
.charts{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chart-card{
  height: 280px;
  width: 100%;
  background-color: white;
  margin-right: 25px;
  border-radius: 8px;
  box-shadow: 0px 4px 5px rgba(153, 152, 152, 0.2);
  padding: 15px 10px 5px 17px;
  cursor: pointer;
}
.chart-card .top-card{
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  padding-bottom: 20px;
  /* padding-top: 10PX; */
}
.chart-card .bottom-card{
  color: #737373;
}
.chart-text{
  font-size: 16px;
  font-weight: 600;
  margin: 0px 0px 0px 0px;
}
.info{
  color: #737373;
  margin-top: 5px;
  margin-bottom: 25px;
}
.chart-percentage{
  font-weight: 600;
}