
body{
  background-color: rgb(236, 236, 236);
  margin: 0;
  padding: 7px;
  font-family: Arial, sans-serif;
  font-size: 14px;    
}
.overall{
  display: flex;
  background-color: rgb(236, 236, 236);
  align-items: start;
  justify-content: space-between;
}
/* Header begins */
header{
  background-color: rgb(236, 236, 236);
  padding: 8px 30px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  /* box-shadow: 0 4px 6px rgba(153, 152, 152, 0.1); */
  width: 980px;
}
.first-section{
  color: gray;
  letter-spacing: 0.05rem;
}
.active{
  color: black;
}
.second-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-wrapper{
  position: relative;
  width: 180px;
}
.input-wrapper input{
  border: 1px solid #d2d6da;
  height: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 7px;  
  background-color: transparent;
}
.input-wrapper label{
  position: absolute;
  top: 30%;
  left: 7%;
  color: gray;
  transition: 0.2s;
  pointer-events: none;
}
.input-wrapper input:focus{
  border: 2px solid #e91e63;
  outline: none;
  transition: 0.15ms;
  border-radius: 5px;
  box-shadow: none;
}
.input-wrapper input:focus + label{
  color: #e91e63;
  top: -12%;
  left: 7%;
  font-size: 12px;
  background-color: rgb(236, 236, 236);
  padding: 0px 5px;
}
.online-builder{
  border: 1px solid #e91e63;
  border-radius: 10px;
  background-color: transparent;
  color: #e91e63;
  padding: 8px 15px;
  margin: 0px 15px 0px 35px;
  cursor: pointer;
}
.github-button{
  display: flex;
  align-items: center;
  border: 1.5px solid #d1d9e0;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}
.github-star{
  background-color: #e5eaee;
  padding: 5px 12px;
}
.github-star:hover{
  background-color: #e5eaee98;
}
.github-number{
  border-left: 1px solid #d1d9e0;
  padding: 5px 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  background-color: white;
}
.header-icons{
  color: #737373;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  margin-left: 20px;
  font-size: 15px;
}
/* Sidebar begins */
nav{
  height: 550px;
  width: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
}
nav a{
  text-decoration: none;
  color: black;
}
.logo-container{
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #eee;
  padding: 12px;
  font-size: 14px;
}
.logo-name{
  margin-left: 10px;
}
.nav-links{
  list-style: none;
  padding: 0px;  
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-links li{
  padding: 8px 12px;
  cursor: pointer;
  font-size: 12px;
}
.nav-links a{
  display: flex;
  align-items: center;
  gap: 10px;
}
.active-nav{
  background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
  border-radius: 5px;
}
.active-nav a{
  color: white;
}
.documentation{
  width: 100%;
  background-color: white;
  padding: 8px 16px;
  margin: 0px 0px 16px 0px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}
.Upgrade-btn{
  width: 100%;
  background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
  padding: 8px 16px;
  margin: 0px 0px 8px 0px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}
.nav-icons{
  color: gray;
  font-size: 15px;
}
.section-title{
  padding-left: 20px;
  font-weight: bold;
  color: rgba(95, 95, 95, 0.7);
  margin: 16px 0px 8px 0px;
  font-size: 12px;
  line-height: 1.25;
}